<div class="row">
  <div class="col-xl-12">
    <app-card
      cardTitle="Listes des réparation"
      [options]="false"
      blockClass="table-border-style"
    >
      <div class="table-responsive">
        <table class="table table-striped table-hover table-responsive">
          <thead>
            <tr>
              <th>Client</th>
              <th>Véhicule</th>
              <th>Date de dépôt</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reparation of reparations; index as i">
              <td>{{ reparation.client.nom }}</td>
              <td>{{ reparation.voiture.numero }}</td>
              <td>
                {{ reparation.date_depot | date }} -
                {{ reparation.date_depot | date : "shortTime" }}
              </td>
              <td>{{ reparation.status }}</td>
              <td>
                <a
                  class="label theme-bg2 text-white f-12 rounded-pill"
                  [routerLink]="['/reparations/details', reparation._id]"
                >Détails</a>
              </td>
            </tr>
          </tbody>
        </table>
        <span
          class="spinner-border spinner-border-sm"
          *ngIf="loading"
          role="status"
          aria-hidden="true"
        ></span>
      </div>
    </app-card>
  </div>
</div>
