.action{
    width: 200px;
}

.label{
    font-weight: bold;
    color: black;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}
