<div class="auth-wrapper">
    <div class="auth-content">
      <div class="auth-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <div class="mb-4">
            <i class="feather icon-unlock auth-icon"></i>
          </div>
          <h3 class="mb-4">Connexion</h3>
          <div class="input-group mb-3">
            <input type="email" name="email" class="form-control" placeholder="Email" />
          </div>
          <div class="input-group mb-4">
            <input type="password" name="password" class="form-control" placeholder="Mot de passe" />
          </div>
          <button (click)="signin()" class="btn btn-primary mb-4">
            Se connecter
            <span class="spinner-border spinner-border-sm" *ngIf="loading" role="status" aria-hidden="true"></span>
          </button>
          <p class="mb-0 text-muted">
            Vous n'avez pas de compte ? <a [routerLink]="['/auth/signup']">S'inscrire</a>
          </p>
        </div>
      </div>
    </div>
  </div>
      