<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <form [formGroup]="form" (ngSubmit)="signin()" class="needs-validation">
        <div class="card-body text-center">
          <div class="mb-4">
            <i class="feather icon-unlock auth-icon"></i>
          </div>
          <h3 class="mb-4">Connexion</h3>
          <div class="input-group mb-3">
            <input
              type="email"
              formControlName="email"
              class="form-control"
              placeholder="Emails"
              value ="email@email.com"
              required
            />
          </div>
          <div *ngIf="submitted && f['email'].errors">
            <div
              class="offset-3"
              style="
                padding-left: 12px;
                padding-top: 10px;
                font-size: 12px;
                color: red;
              "
            >
              Veuillez préciser votre email
            </div>
          </div>
          <div class="input-group mb-4">
            <input
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="Mot de passe"
              value="passwords"
              required
            />
          </div>
          <div
            *ngIf="submitted && f['password'].errors"
            style="
              padding-left: 12px;
              padding-top: 10px;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              color: red;
            "
          >
            <div class="offset-3">Veuillez préciser votre mot de passe</div>
          </div>
          <div *ngIf="erreur">
            <div
              class="offset-3"
              style="
                padding-left: 12px;
                padding-top: 10px;
                font-size: 12px;
                color: red;
              "
            >
              Un problème est survenu lors de l'insertion de votre véhivule
            </div>
          </div>
          <button  class="btn btn-primary mb-4">
            Se connecter
            <span
              class="spinner-border spinner-border-sm"
              *ngIf="loading"
              role="status"
              aria-hidden="true"
            ></span>
          </button>
          <p class="mb-0 text-muted">
            Vous n'avez pas de compte ?
            <a [routerLink]="['/auth/signup']">S'inscrire</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
