<ngx-spinner
  bdColor="rgba(0,0,0,0.8)"
  size="default"
  color=""
  type="ball-spin-clockwise"
  [fullScreen]="true"
></ngx-spinner>
<div class="row">
  <div class="col">
    <app-card
      cardTitle="Client"
      [options]="false"
      blockClass="table-border-style"
    >
      <div class="container-info-vehicule">
        <p>
          <span class="label">Nom : </span>
          <span>{{ reparation.client.nom }} </span>
        </p>
        <hr />
        <p>
          <span class="label">Prénom : </span>
          <span>{{ reparation.client.prenom }} </span>
        </p>
        <hr />
        <p>
          <span class="label">Email : </span>
          <span>{{ reparation.client.email }} </span>
        </p>
      </div>
    </app-card>
  </div>
  <div class="col">
    <app-card
      cardTitle="Véhicule"
      [options]="false"
      blockClass="table-border-style"
    >
      <div class="container-info-vehicule">
        <p>
          <span class="label">Numéro : </span>
          <span>{{ reparation.voiture.numero }} </span>
        </p>
        <hr />
        <p>
          <span class="label">Marque : </span>
          <span>{{ reparation.voiture.marque }} </span>
        </p>
        <hr />
        <p>
          <span class="label">Modèle : </span>
          <span>{{ reparation.voiture.model }} </span>
        </p>
      </div>
    </app-card>
  </div>
  <div class="col">
    <app-card
      cardTitle="Véhicule"
      [options]="false"
      blockClass="table-border-style"
    >
      <div class="container-info-vehicule">
        <p>
          <span class="label">Nom : </span>
          <span>{{ reparation.reparateur.nom }} </span>
        </p>
        <hr />
        <p>
          <span class="label">Prenom : </span>
          <span>{{ reparation.reparateur.prenom }} </span>
        </p>
        <hr />
        <p>
          <span class="label">Email : </span>
          <span>{{ reparation.reparateur.email }} </span>
        </p>
      </div>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <app-card
      cardTitle="Facture"
      [options]="false"
      blockClass="table-border-style"
    >
      <div class="table-responsive">
        <table class="table table-striped table-hover table-responsive">
          <thead>
            <tr>
              <th>Description</th>
              <th class="text-right">Montant</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of reparation.reparation_faire; index as i">
              <th scope="row">{{ detail.solution }}</th>
              <td class="text-right">
                {{ detail.prix | currency : "Ar " : "symbol" : "4.2-2" }}
              </td>
            </tr>
          </tbody>
        </table>
        <p class="float-end">
          <span class="label">Total : </span>
          <span class="label"
            >{{ montantTotal | currency : "Ar " : "symbol" : "4.2-2" }}
          </span>
        </p>
        <span
          class="spinner-border spinner-border-sm"
          *ngIf="loading"
          role="status"
          aria-hidden="true"
        ></span>
      </div>
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
        Payée
      </button>
    </app-card>
  </div>
</div>
<div class="row">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Details reparations de la voitures
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" (ngSubmit)="payerReparation()">
        <div class="row">
          <div class="col">
            <label for="dateOfBirth">Mode de paiement</label>
            <div class="input-group">
              <select formControlName="mode" class="form-control" id="">
                <option value="Mvola">Mvola</option>
                <option value="Orange Money">Orange Money</option>
                <option value="Visa">Visa</option>
                <option value="Espece">Espece</option>
              </select>
            </div>
          </div>
          <div class="col">
            <label for="dateOfBirth">Montant</label>
            <div class="input-group">
              <input
                id="dateOfBirth"
                class="form-control"
                type="number"
                formControlName="montant"
                placeholder="0"
              />
            </div>
          </div>
          <div class="col">
            <label for="dateOfBirth"></label>
            <div class=" ">
              <button type="submit" class="btn btn-primary">
                Payée
                <span
                  class="spinner-border spinner-border-sm"
                  *ngIf="loading"
                  role="status"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer"></div>
  </ng-template>
</div>
