<p>historique works!</p>
<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Historique de réparation du véhicule : {{ id }}" [options]="false"
            blockClass="table-border-style">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Véhicule</th>
                            <th>Date de dépôt</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let reparation of reparations; index as i">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{reparation.voiture.numero}}</td>
                            <td>{{ reparation.date_depot|date }} - {{reparation.date_depot|date:'shortTime' }}</td>
                            <td>{{reparation.status}}</td>
                            <td class="action"><a [routerLink]="['/users/reparations/details',reparation._id]"><button
                                        class="btn btn-secondary">Avancement</button></a></td>
                        </tr>
                    </tbody>
                </table>
                <span class="spinner-border spinner-border-sm" *ngIf="loading" role="status" aria-hidden="true"></span>
            </div>
        </app-card>
    </div>
</div>